[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
pytest = "*"
matplotlib = "*"
pytest-coverage = "*"
pytest-cov = "*"
coverage = "*"
docker = "*"
redis = "*"
scipy = "*"
colorama = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.9"
